.edit_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.edit_container textarea {
  margin-top: 30px;
}

.edit_title {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  font-weight: bold;
  margin: 10px;
}
.edit_title span {
  background-color: aliceblue;
  padding: 0px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.edit_panel {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5); /* Red with 50% transparency */
  margin: 10px 0 0 0;
  border: 1px solid;
  border-radius: 10px;
}
.edit_name {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 30px 0 30px 10px;
}
.edit_name span {
  margin: 30px 10px 50px 30px;
  font-size: 30px;
}
.edit_tool {
  display: flex;
  flex-direction: column;
}
.edit_tool .text_size {
  margin-top: 70px;
  margin-left: 50px;
  width: 500px;
}
.edit_tool .text_color {
  margin-top: 10px;
}

.pre_output {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5); /* Red with 50% transparency */
  margin: 10px 0 0 0;
  border: 1px solid;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .edit_title span {
    background-color: rgba(255, 255, 255, 0.5); /* Red with 50% transparency */
    padding: 0px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .edit_name span {
    margin: 20px 0 20px 20px;
    font-size: 20px;
  }
  .edit_tool .text_size {
    margin-top: 55px;
    margin-left: 50px;
    width: 200px;
  }
}
